@mixin desktopScreen {
    @media (max-width: 1075px) {
        @content;
    }
}

@mixin laptopScreen {
    @media (max-width: 991px) {
        @content;
    }
}

@mixin tabletScreen {
    @media (max-width: 790px) {
        @content;
    }
}

@mixin mobileScreen {
    @media (max-width: 450px) {
        @content;
    }
}