@import "./mixins";

.formElement {
    padding: 80px 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        
        h2 {
            max-width: 600px;
            color: #FFFFFF;
            font-family: "Sofia Sans Condensed";
            font-size: 70px;
            font-weight: 700;
            line-height: 70px;
            text-transform: uppercase;
            text-align: center;
    
            span {
                background: linear-gradient(90deg, #FCD678 0%, #FCD678 0.01%, #BC8C2F 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                color: transparent;
            }
        }
    
        form {
            width: 100%;
            max-width: 650px;
            padding: 40px;
            background-color: #FFFFFF;
            border-radius: 10px;

            p {
                margin-bottom: 32px;
                font-size: 24px;
                font-weight: 700;
                line-height: 100%;
                text-align: center;
            }

            .rs-form-stack {
                gap: 16px;

                .rs-form-control {

                    &:has(.rs-form-30-100) {
                        width: 30%;
                    }

                    &:has(.rs-form-50-100),
                    &:has(.rs-form-70-100) {
                        width: 100%;
                    }
                }

                .rs-picker {
                    * {
                        color: #999999;
                        padding: 0;
                        border: unset;
                        height: unset;
                    }

                    .rs-btn {
                        width: 100%;

                        .rs-picker-toggle-value {
                            color: #000000;
                        }
                    }
                }

                input,
                .rs-picker {
                    margin: 0;
                    border: 1px #999999 solid;
                    border-radius: 5px;
                    padding: 10px 12px;
                    width: 100%;
                }
        
                input {
                    &::placeholder {
                        color: #999999;
                        opacity: 1;
                    }
        
                    &::-webkit-input-placeholder {
                        color: #999999;
                    }
        
                    &::-moz-placeholder {
                        color: #999999;
                    }
        
                    &:-ms-input-placeholder {
                        color: #999999;
                    }

                    &:read-only {
                        color: #999999;
                    }
                }
        
                .consentBox {
                    margin: 8px 0 40px;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    color: #999999;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 100%;
        
                    .red {
                        color: #CD0511;
                    }
                }
            }
        }
    }

    @include tabletScreen {
        padding: 60px 20px;

        .wrap {

            h2 {
                font-size: 60px;
                line-height: 60px;
            }

            form {
                width: unset;
                
                .rs-form-stack {
                    .rs-form-stack-inline {
                        flex-direction: column;
                        align-items: center;

                        .rs-form-group,
                        .rs-form-control {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    @include mobileScreen {
        padding: 50px 20px;

        .wrap {

            h2 {
                font-size: 50px;
                line-height: 50px;
            }

            form {
                padding: 20px;

                p {
                    font-size: 20px;
                }
            }
        }
    }
}