@import "./mixins";

body {
    margin: 0;
    font-family: "Open Sans";
    height: 100vh;
    color: #000000 !important;
}

p,
h2 {
    margin: 0;
}

a {
    color: unset;

    &:hover {
        color: unset;
        text-decoration: none;
    }
}

.wrap {
    max-width: 1320px;
    margin: 0 auto;
}

h2 {
    &.title {
        font-family: "Sofia Sans Condensed";
        font-size: 50px;
        font-weight: 400;
        line-height: 50px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 80px;

        @include tabletScreen {
            margin-bottom: 60px;
        }

        @include mobileScreen {
            font-size: 30px;
            line-height: 30px;
            margin-bottom: 40px;
        }
    }
}

.navigationBtns {
    display: flex;
    gap: 17px;

    button {
        color: #EEEEEE;
        font-size: 16px;
        cursor: pointer;
    }

    .logIn {
        background-color: unset;
        border: 1px #CD0511 solid;
        border-radius: 4px;
        padding: 5px 20px;

        &:hover {
            background-color: #CD0511;
        }
    }

    .register {
        background-color: #179149;
        border: 1px #179149 solid;
        border-radius: 4px;
        padding: 5px 25px;

        &:hover {
            color: #179149;
            background-color: #EEEEEE;
            border-color: #EEEEEE;
        }
    }

    @include laptopScreen {
        flex-direction: column;
    }
}

.submitBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    button {
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 700;
        background-color: #179149;
        border: 1px #179149 solid;
        border-radius: 4px;
        padding: 16px 105px;
        cursor: pointer;

        &:hover {
            background-color: unset;
            color: #179149;
        }
    }

    p {
        color: #A8A8A8;
        font-size: 12px;
        font-weight: 400;
        line-height: 23px;
    }

    @include mobileScreen {
        button {
            font-size: 14px;
            padding: 16px 75px;
        }
    }
}