@import "./mixins";

header {
    padding: 15px 20px 30px;
    background-color: #161616;
    color: #EEEEEE;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;

    .wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;

        .topBanner {
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                font-size: 10px;
                line-height: 10px;
                color: #A8A8A8;
            }

            .links {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                font-size: 14px;

                .downloadBtn {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 6px 10px;
                    border: 0.5px #5A5A5A solid;
                    border-radius: 4px;
                    cursor: pointer;

                    &:hover {
                        background-color: #5A5A5A;
                    }
                }

                .contactLinks {
                    display: flex;
                    align-items: center;

                    a {
                        padding: 0 15px;
                        border-right: 1px #404040 solid;
                        cursor: pointer;

                        &:hover {
                            color: #5A5A5A;
                        }
                    }

                    img {
                        margin-left: 15px;
                    }
                }
            }
        }

        .bottomBanner {
            display: flex;
            gap: 100px;
            font-size: 16px;

            .navigation {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                nav {
                    width: 100%;

                    a {
                        color: #EEEEEE;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    @include desktopScreen {
        .wrap {

            .bottomBanner {
                gap: 50px;
            }
        }
    }

    @include laptopScreen {
        .wrap {
            .bottomBanner {
                gap: unset;
                
                .navigation {
                    nav {
                        justify-content: end;
                    }
                }
            }
        }
    }

    @include tabletScreen {
        .wrap {
            .topBanner {
                flex-direction: column-reverse;
                align-items: start;
                gap: 10px;

                .links {
                    width: 100%;
                    justify-content: end;
                    gap: 10px;

                    .contactLinks {

                        a {
                            padding: 0 10px;
                        }

                        img {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }

    @include mobileScreen {
        .wrap {
            .topBanner {
                .links {
                    font-size: 10px;
                    gap: 5px;

                    .contactLinks {

                        a {
                            padding: 0 5px;
                        }

                        img {
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}

.mobileNav {
    .rs-drawer-dialog,
    ul {
        background-color: #161616 !important;
    }

    .rs-drawer-dialog {
        button,
        h4 {
            color: #EEEEEE;
        }
    }

    .rs-drawer-body {
        a {
            color: #EEEEEE;
        }
    }
}