@import "./mixins";

.prizesElement {
    padding: 120px 20px 80px;

    .boxCards {
        display: flex;
        gap: 20px;
        margin-bottom: 80px;

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #F4F4F4;
            border-radius: 20px;
            padding: 44px 0 34px;
            width: calc(100% / 3);

            img {
                max-height: 100px;
            }

            .price {
                margin-top: 30px;
                font-size: 50px;
                font-weight: 700;
                line-height: 40px;
            }

            .tag {
                margin-top: 48px;
                font-size: 20px;
                font-weight: 400;
                line-height: 100%;
                text-align: center;
                text-transform: uppercase;
                max-width: 157px;
            }
        }
    }

    @include tabletScreen {
        padding: 60px 20px;

        .boxCards {
            flex-direction: column;
            align-items: center;

            .card {
                width: 100%;
                max-width: 400px;

                .price {
                    font-size: 40px;
                }

                .tag {
                    margin-top: 40px;
                    font-size: 18px;
                }
            }
        }
    }

    @include mobileScreen {
        padding: 50px 20px;

        .boxCards {
            margin-bottom: 40px;

            .card {
                .price {
                    margin-top: 20px;
                    font-size: 30px;
                    line-height: 30px;
                }

                .tag {
                    margin-top: 35px;
                    font-size: 14px;
                }
            }
        }
    }
}